[Unit]
Description=My Node.js Application
After=network.target

[Service]
ExecStart=/opt/myapp/webapp
Restart=always
User=csye6225
Group=csye6225
WorkingDirectory=/opt/myapp
StandardOutput=journal
StandardError=journal

# Wait for the .env configuration file to be available
ExecStartPre=/bin/bash -c 'until [ -f /opt/myapp/.env ]; do sleep 2; echo "Waiting for .env configuration file..."; done'

[Install]
WantedBy=multi-user.target