[Unit]
Description=My Node.js Application
After=network.target
# Remove dependency on db-config-fetcher since we'll use Terraform userdata

[Service]
ExecStart=/opt/webapp/webapp
Restart=always
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp
StandardOutput=journal
StandardError=journal

# Add condition to check for existence of override.conf before starting
ExecStartPre=/bin/bash -c 'until [ -f /etc/systemd/system/webapp.service.d/override.conf ]; do sleep 2; echo "Waiting for database configuration..."; done'

[Install]
WantedBy=multi-user.target